.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block-start: 3.125rem;
	padding-inline-start: 3.125rem;
	padding-inline-end: 1.875rem;
}

.header-block {
	display: flex;
	gap: 5.625rem;
	align-items: center;
}

.header-logo {
	margin: 0;
}
