@font-face {
	font-family: 'Bodoni Moda';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/bodoni-moda-v7-latin-500.woff2') format('woff2'),
		url('../assets/fonts/bodoni-moda-v7-latin-500.woff') format('woff');
}

@font-face {
	font-family: 'Futura';
	src: url('../assets/fonts/futura-medium.ttf');
	font-weight: 500;
	font-style: normal;
}

:root {
	--fontBase: 'Bodoni Moda', sans-serif;
	--fontAux: 'Futura', sans-serif;
	--white: #ffffff;
	--blue: #2c74ff;
	--headline1: 500 9rem/7.065rem var(--fontBase);
	--normal: 500 1rem/1.3281rem var(--fontAux);
	--link: 500 0.875rem/1.1619rem var(--fontAux);
}

.body {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 100%, transparent),
		url('../assets/images/background.webp');
	background-size: cover;
	margin: 0;
	font: var(--normal);
}

.wrapper {
	padding-inline-start: 180px;
	padding-block-start: 7.75rem;
}
